# --- Build & Compiled ---
target/
build/
*.jar
*.war
*.ear

# --- IDEs & Tools ---
.idea/
*.iml
*.iws
*.ipr
.vscode/
! .vscode/launch.json
.settings/
.classpath
.project
.factorypath
.apt_generated
.sts4-cache
.springBeans
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# --- Environment & Credentials ---
.env
.aws/
**/application-dev.properties
**/application-secret.properties

# --- OS Specific ---
.DS_Store
Thumbs.db